{:paths ["src" "resources"]
 :deps {compojure/compojure {:mvn/version "1.7.1"}
        ring/ring-jetty-adapter {:mvn/version "1.12.1"}}
 :aliases {:test {:extra-paths ["test"]
                  :extra-deps {}}}}
