{:aliases  {:build {:deps {io.github.clojure/tools.build {:mvn/version "0.10.1"}
                           org.clojure/tools.deps {:mvn/version "0.19.1421"}}
                    :paths ["build/resources"]
                    :ns-default build}

            :dev {:extra-paths ["development/src"]

                  :extra-deps {poly/http-server {:local/root "components/http-server"}
                               poly/indicator {:local/root "components/indicator"}
                               poly/in-memory-database {:local/root "components/in-memory-database"}
                               poly/rest-api {:local/root "bases/rest-api"}

                               org.clojure/clojure {:mvn/version "1.11.1"}}}

            :test {:extra-paths ["components/indicator/test"
                                 "bases/rest-api/test"]}

            :poly {:main-opts ["-m" "polylith.clj.core.poly-cli.core"]
                   :extra-deps {polylith/clj-poly {:mvn/version "0.2.19"}}}}}
